<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tareas</a>
  </div>
</nav>
<div class="parent container mt-5 border border-2 border-primary">
  <h4>PARENT</h4>
  <div class="text-center">
    <p>message: {{parentMsg | uppercase}}</p>
  <div class="btn-group col p-5" 
      role="group" 
      aria-label="Basic example">
    <button type="button" 
            class="btn btn-primary m-2"
            (click)="service()">
            Use Service
    </button>
    <button type="button" 
            class="btn btn-primary m-2"
            (click)="input()">
            Use Input Property
    </button>
    <button type="button" 
            class="btn btn-primary m-2"
            (click)="observable()">
            Use Observable
    </button>
  </div>
  </div>

  <br>
  
  <app-child [childMsg]="childMsg"
              (outputFromChild)="output($event)">
  </app-child>
</div>