<div class="container">
    <h1>Buscador de Universidades</h1>
    <div class="btn-group" role="group" aria-label="Basic example">
    <button class="btn btn-primary {{pais.nombre == paisSeleccionado && 'active btn-success'}}"
            type="button"
            *ngFor="let pais of paises"
            (click)="seleccionarPais(pais)">
        {{pais.nombre | titlecase}}
    </button>
    <form autocomplete="off">
        <input class="form-control me-2" 
                type="search" 
                placeholder="Buscar..." 
                aria-label="Search"
                name="termino"
                [(ngModel)]="termino"
                (input)="buscar()">
    </form>  
    </div>
    <hr>
</div>
<div class="col">
    <ul class="list-group"
        *ngIf="termino.length > 0">
        <li class="list-group-item"
            *ngFor="let universidad of universidades">
            {{universidad.nombre}}, {{universidad.ciudad}}, {{universidad.pais}}
        </li>
        <li class="list-group-item"
            *ngIf="termino.length !== 0 && universidades.length < 1">
            No se encontró nada con el término {{termino}}
        </li>
</ul>
</div>